.banner {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  top: 70px;
  padding: 0 10% 76px;
  background-color: $banner-background-color;
}

.banner-subtitle {
  padding: 75px 98px 40px 0px;
  &-pages {
    padding-bottom: 16px;
  }
}
.banner-main-title {
  padding: 0px 41px 40px 0px;
}

.banner_button-container {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

@media only screen and (min-width: 1000px) {
  .banner {
    padding-top: 50px;
    max-width: 3000px;
    top:0;

  }
}
