.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: all 200ms;
  &_small {
    width: 217px;
    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
    &:hover {
      transform: scale(1.015);
      box-shadow: 0px 10px 10px 0px $black;
      transition: all 200ms;
    }
  }
  &_regular {
    width: 250px;
    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
    &:hover {
      transform: scale(1.015);
      box-shadow: 0px 10px 10px 0px $black;
      transition: all 200ms;
    }
  }
  &_big {
    width: 290px;
    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
    &:hover {
      transform: scale(1.015);
      box-shadow: 0px 10px 10px 0px $black;
      transition: all 200ms;
    }
  }
  &_text {
    @include button-text;
  }
  &_centered {
    margin: 0 auto;
  }
}
.button-hover-black {
  &:hover {
    transform: scale(1.015);
    box-shadow: 0px 10px 10px 0px $dark-grey;
    transition: all 200ms;
  }
}
