.counter {
  margin: 0 auto;
  max-width: 400px;
  padding: 60px 20px;
  &_subtitle {
    color: $grey;
    font-family: $archivo-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
    margin-bottom: 24px;
  }
  &_container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 36px 0 24px;
  }
}
.fact {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 25.5px 20px 28.5px;

  &_icon {
    height: 60px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    &-1 {
      background-image: url("../icons/counter/happy-people.svg");
    }
    &-2 {
      background-image: url("../icons/counter/world.svg");
    }
    &-3 {
      background-image: url("../icons/counter/thumb-up.svg");
    }
  }
  &_text {
    &--big {
      display: block;
      color: $black;
      font-family: $old-font;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: -1.8px;
    }
    &--small {
      display: block;
      color: $grey;
      font-family: $roboto-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
  &_arrow {
    margin-left: auto;
    height: 32px;
    width: 32px;
    background-image: url("../icons/counter/arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1000px) {
  .counter {
    padding: 120px 10%;
    max-width: 3000px;
    &_container {
      margin: 40px auto 60px;
      max-width: 1200px;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
