.footer {
  margin: 0 auto;
  max-width: 600px;

  &-inner {
    background-image: url("../assets/footer/background.svg");
    background-repeat: repeat;
    padding: 32px 20px 32px 20px;
  }
  &-container {
    &_first {
      max-width: 245px;
    }
  }
  &-letterhead {
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: $gold;
    color: $white;
    font-family: $archivo-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;

    &-text {
      position: relative;
      top: -68px;
      left: 110px;
      color: #111;
      font-family: Archivo;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.6px;
      text-transform: uppercase;
      width: 137px;

      & span {
        color: #111;
        font-family: Archivo;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.6px;
        text-transform: uppercase;
      }
    }
  }
  &-socials {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
  }
  &-paragraph {
    position: relative;
    top: -9px;
    color: $grey;
    font-family: $archivo-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
  }
 

  &-subtitle {
    color: $black;
    font-family: $old-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    &-contact {
      margin-bottom: 34px;
    }
  }
  &-services {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
  ul {
    color: $grey;
    font-family: $roboto-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 32px;
  }
  &-contact {
    display: flex;
    gap: 20px;
    transition: all 300ms;
    &:hover{
      transition: all 300ms;
      transform: scale(1.2);
    }
    &-data {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    &-icons {
      height: 40px;
      width: 40px;
    }
    &-title {
      color: $black;
      font-family: $old-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    &-subtitle {
      color: $grey;
      font-family: $roboto-font;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &-end {
    padding: 16px 0px 16px 20px;
    background-color: #f8f8f8;
    color: $black;
    font-family: $roboto-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
    text-align: center;
    &-copyright {
      margin-bottom: 24px;
    }
  }
}

.footer-socials-link {
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 5px;
  border-radius: 5px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.footer-socials-link:before,
.footer-socials-link:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: $gold; /* color de fondo hover */
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer-socials-link:after {
  left: 100%;
}
.footer-socials-link:hover {
  transition: all 200ms;
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 0px $black;
}
.footer-socials-link:hover:before {
  left: 0;
}
.footer-socials-link:hover:after {
  left: 50%;
}

.socials {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
 
  &-facebook {
    background-image: url("../icons/footer/facebook.svg");
    height: 24px;
    width: 24px;
  }
  &-twitter {
    background-image: url("../icons/footer/twitter.svg");
    height: 24px;
    width: 24px;
  }
  &-behance {
    background-image: url("../icons/footer/behance.svg");
    height: 24px;
    width: 24px;
  }
  &-linkedin {
    background-image: url("../icons/footer/linkedin.svg");
    height: 24px;
    width: 24px;
  }
  &-youtube {
    background-image: url("../icons/footer/youtube.svg");
    height: 24px;
    width: 24px;
  }
}

@media only screen and (min-width: 1000px) {
  .footer {
    max-width: 3000px;

    &-inner {
      padding: 100px 10%;
    }
    &-content {
      margin: 0 auto;
      width: 1200px;
      display: flex;
      justify-content: space-between;
    }
    &-end {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 80px;
      gap: 30%;
      &-copyright {
        margin-bottom: 0px;
      }
    }
    &-socials{
      margin: 0;
    }
  }
}
