.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  background: $header-background-color;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  justify-content: space-between;
  flex-flow: row nowrap;
  z-index: 5;
  transition: all 500ms;
}

.header-desktop-title {
  display: none;
}

.header_left {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 32px;
}

.header_right {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 24px;
}

.header_letterhead {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header_hotel-logo {
  width: 36px;
  height: 36px;
  background-image: url("../icons/header/H.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}

.header_hotel-name {
  width: 61px;
  height: 21px;
  background-image: url("../icons/header/HotelMiranda.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header_menu {
  display: block;
  width: 20px;
  height: 13px;
  margin-left: 20px;
  background-image: url("../icons/header/header-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &--active {
    margin-left: 24.45px;
    width: 15.56px;
    height: 15.56px;
    background-image: url("../icons/header/header-x-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  &--disabled {
    display: none;
  }
}

.header_magnifier-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-image: url("../icons/header/header-search-magnifier.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 300ms;
  cursor: pointer;
  &:hover{
    transition: all 300ms;
    transform: scale(1.2);
  }
}

.header_member-icon {
  width: 24px;
  height: 24px;
  background-image: url("../icons/header/header-member.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 300ms;
  &:hover{
    transition: all 300ms;
    transform: scale(1.2);
  }
}

.navbar {
  background-color: $header-background-color;
  width: 100%;
  position: absolute;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
  top: 70px;
  display: none;
  list-style-type: none;
  padding-left: 21px;
  padding-top: 32px;
  &--active {
    display: block;
  }
}

.navbar_li {
  margin-bottom: 24px;
}

.navbar_a {
  @include navbar-titles;
  text-decoration: none;
  transition: all 300ms;
  &--active {
    border-bottom: 2px solid $gold;
    color: $gold;
    font-size: 18px;
  }
  &:hover{
    transition: all 200ms;
    color: $gold;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1000px) {
  .header-desktop-title {
    display: block;
    width: 100%;
    height: 100px;
    background-color: $black;
    padding-top: 11px;
    padding-left: 13%;
    color: $white;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 16px;
  }
  .header {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 74%;
    height: 120px;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 20px;
    z-index: 5;
    left: 0;
    right: 0;
    &--hidden {
      top: -8.75rem;
    }
    &--float {
      position: fixed;
      top: 2.5rem;
      z-index: 100;
    }
  }
  .header_hotel-logo {
    width: 80px;
    height: 80px;
    background-size: 31px 44px;
  }

  .header_hotel-name {
    width: 137px;
    height: 56px;
    background-size: 137px 56px;
  }
  .navbar {
    padding: 0;
    width: fit-content;
    position: absolute;
    box-shadow: none;
    background-color: $header-background-color;
    list-style-type: none;
    display: flex;
    gap: 50px;
    top: 52px;
    left: 390px;
  }
}
