.offers-title {
  padding-bottom: 20px;
}

.offers {
  margin: 70px auto 0;
  padding: 48px 20px;
  max-width: 600px;
}
.offers-image {
  position: relative;
  margin: 0 auto 16px;
  & img {
    width: 100%;
  }
}

.offers-card {
  background: #fff;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
  padding: 0 20px 32px;
  margin: 0 auto 32px;
}

.offers-price-container {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  bottom: 10px;
  right: 13px;
}

.offer-price {
  color: $gold;
  text-align: right;
  font-family: $archivo-font;
  text-decoration: line-through;
  &-value {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &--discount {
      text-decoration: none;
      color: $pink;
      font-size: 30px;
    }
  }
  &-night {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &--discount {
      text-decoration: none;
      color: $pink;
      font-size: 12px;
    }
  }
}

.offer-price-night {
  color: #bead8e;
  font-family: Archivo;

  text-decoration-line: strikethrough;
}

.offers-paragraph {
  color: $grey;
  font-family: $roboto-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.offers-amenities {
  margin: 25px 5px;
}
.popular {
  padding: 48px 20px 0px;
  background: $black;
}
.popular-title {
  color: $gold;
  font-family: $archivo-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  margin-bottom: 25px;
}
.popular-rooms {
  margin-bottom: 60px;
  padding-bottom: 48px;
}

@media only screen and (min-width: 1000px) {
  .offers {
    padding: 120px 10%;
    max-width: 3000px;

    &-card {
      max-width: 1200px;
      background: #fff;
      padding: 0;
      margin: 0 auto 32px;
      box-shadow: none;
    }
    &-image {
      position: relative;
      margin: 0 auto;
      & img {
        width: 100%;
      }
    }
    &-price-container {
      bottom: -77px;
      right: 126px;
      z-index: 2;
    }
    &-text {
      box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.25);
      position: relative;
      background-color: #fff;
      top: -65px;
      margin: 0 auto;
      padding: 58px 60px 60px;
      max-width: 90%;
      border-top: 6px solid #bead8e;
      &-title {
        margin: 15px 0px 0px 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid #bdbdbd;
      }
      &-inner {
        margin-top: 36px;
        display: flex;
        gap: 60px;
      }
    }
    &-paragraph {
      display: inline-block;
      max-width: 496px;
    }
    &-amenities {
      margin: 0;
    }
  }
  .offer-price {
    &-value {
      font-size: 30px;
      &--discount {
        font-size: 40px;
      }
    }
    &-night {
      font-size: 12px;
      &--discount {
        font-size: 16px;
      }
    }
  }
  .amenities-container{
    gap: 120px;
  }
}
