.rooms {
  padding: 48px 20px 120px;
}

.rooms-subtitle {
  text-align: center;
  margin-top: 60px;
  color: $grey;
  margin-bottom: 24px;
}
.rooms-main-title {
  padding-bottom: 5px;
}
.rooms-title {
  text-align: center;
}

.room-container {
  position: relative;
  top: -30px;
  padding: 20px 20px 0px;
  z-index: 2;
  background: $white;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  &--shadow {
    box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.15);
  }
  &--down {
    top: 28px;
    padding-bottom: 0;
  }
  &--related {
    top: 35px;
    padding-bottom: 0;
    height: 250px;
    max-height: 250px;
  }
  &--popular {
    padding-top: 49px;
    padding-bottom: 28px;
    top: -4px;
    width: 100%;
    max-width: 375px;
    z-index: 1;
  }
}

.room-name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.room-subtitle {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  &-related {
    font-size: 24px;
  }
}
.room-description {
  color: $grey;
  font-family: $archivo-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-height: 72px;
  &-big{
    min-height: 48px;
  }
  &-related{
    min-height: 72px;
  }
}

.room-price {
  color: $gold;
  text-align: center;
  font-family: $archivo-font;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  font-size: 14px;

  &-left {
    text-align: left;
    margin-bottom: 16px;
  }

  &-value {
    font-size: 32px;
  }

  &-nigth {
    font-size: 13px;
  }
  &-related {
    font-size: 16px;
  }
  &-offer {
    color: $pink;
  }
}
.room-booking-now {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  color: $light-grey;
  text-align: right;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  &:hover{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  }
}

.room_image {
  width: 335px;
  height: 223px;
}

.room_offer_title {
  position: absolute;
  display: flex;
  top: -223px;
  left: -56.4px;
  font-size: 15px;
  color: #ff8ca7;
  transform: rotate(-45deg);
  width: 176px;
  height: 0px;
  border-right: 37px solid transparent;
  border-left: 37px solid transparent;
  border-bottom: 37px solid $black;
  &_related {
    top: -231px;
    left: -57px;
  }
}

@media only screen and (min-width: 1000px) {
  .room-container {
    max-height: 180px;
    width: 690px;
    &--related {
      width: 375px;
      height: 250px;
      max-height: 250px;
    }
    &--shadow {
      height: 180px;
    }
    &--down {
      width: 375px;
    }
    &--popular {
      padding-top: 49px;
      padding-bottom: 28px;
      top: -4px;
      width: 100%;
      max-width: 100%;
      min-height: 250px;
      z-index: 1;
    }
  }
  .room_offer_title {
    position: absolute;
    display: flex;
    top: -223px;
    left: -18.4px;
    font-size: 15px;
    color: #ff8ca7;
    transform: rotate(-45deg);
    width: 176px;
    height: 0px;
    border-right: 37px solid transparent;
    border-left: 37px solid transparent;
    border-bottom: 37px solid $black;
    &_related {
      top: -231px;
      left: -44px;
    }
  }
  .room-price-left {
    margin-bottom: 0px;
  }
}
