/*----------background colors----------*/
$header-background-color: #fff;
$banner-background-color: #333;
$about-section-1-background-color: #f9f9f9; 
$about-section-3-background-color:#222222;

/*---------font family----------*/
$archivo-font: Archivo, sans-serif;
$old-font: Old Standard TT, sans-serif;
$roboto-font: Roboto, serif;

/*----------text colors, familys and sizes----------*/
$navbar-font-family: Archivo;
$navbar-title-color: #111;
$navbar-title-size: 16px;
$main-title-font-family: Old Standard TT;
$main-title-color: #fff;
$main-title-font-size: 56px;
$subtitle-font-family: Archivo;
$subtitle-color: #fff;
$subtitle-font-size: 13px;
$button-text-font-family: Archivo;
$button-text-color: #fff;
$button-text-font-size: 14px;
$label-text-font-family: Roboto;
$label-text-color: #fff;
$label-text-font-size: 16px;
$input-text-font-family: Roboto;
$input-text-color: #686868;
$input-text-font-size: 14px;
$third-subtitle-font-family: Old Standard TT;
$third-subtitle-color: #111111;
$third-subtitle-font-size: 30px;

/*---------colors----------*/
$white: #fff;
$gold: #bead8e;
$light-grey: #c2c2c2;
$grey: #777777;
$dark-light-grey:#999;
$dark-grey:#686868;
$light-black: #292929;
$almost-black: #333;
$black: #111111;
$pink: #de5777;

